body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
p{
    display: none;
    height: 90px;
}
.card2{
    overflow: auto;
}
.card1{
    border-radius: 100px;
}
.card1:hover p{
    display: block;
}
img{
    filter: grayscale(100%);
    transition: all 0.7s;
    width: 200px;
    height: 300px;
  }
  img:hover{
    filter: grayscale(0%);
  }
  .card-title{
    text-align: center;
  }